@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.custom-gap{
    margin: 6rem 0rem 6rem 0rem;
}
i{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}